<script src="https://unpkg.com/@shopify/app-bridge@3.7.9"></script>
<script type="text/javascript">
	(function(window) {
		function appBridgeInternalRedirect(path) {
			var AppBridge = window['app-bridge'];
			var createApp = AppBridge.default;
			var Redirect = AppBridge.actions.Redirect;
			
			var app = createApp({
				apiKey: '{{ SHOPIFY_APP_API_KEY }}',
				host: '{{ host }}',
			});
			
			var normalizedLink = document.createElement('a');
			normalizedLink.href = path;

			Redirect.create(app).dispatch(Redirect.Action.REMOTE, path);
		}

		window.appBridgeInternalRedirect = appBridgeInternalRedirect;
	})(window);  
  
	(function () {
		function redirect() {
			var targetUrl = '{{ redirect_uri|safe }}';
			var appBridgeUtils = window['app-bridge'].utilities;

			if (appBridgeUtils.isShopifyEmbedded()) {
				window.targetUrl = targetUrl;
				window.appBridgeInternalRedirect(targetUrl);
			} else {
					window.top.location.href = targetUrl;
			}
		}

		document.addEventListener("DOMContentLoaded", redirect);

		// In the turbolinks context, neither DOMContentLoaded nor turbolinks:load
		// consistently fires. This ensures that we at least attempt to fire in the
		// turbolinks situation as well.
		redirect();
	})();
</script>